/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*.tar.xz
/*~
/.*.sw[nop]
/.deps
/.dirstamp
/.gitignore
/.libs
/ABOUT-NLS
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/INSTALL
/Makefile
/Makefile.in
/TAGS
/_libs
/aclocal.m4
/autom4te.cache
/build-aux
/config.cache
/config.h
/config.h.in
/config.log
/config.lt
/config.status
/config.status.lineno
/configure
/configure.lineno
/compile
/depcomp
/install-sh
/missing
/intltool-extract.in
/intltool-merge.in
/intltool-update.in
/libtool
/po/*.gmo
/po/*.mo
/po/.intltool-merge-cache
/po/Makefile
/po/Makefile.in
/po/Makefile.in.in
/po/Makefile.in.in~
/po/Makevars.template
/po/POTFILES
/po/Rules-quot
/po/boldquot.sed
/po/en@boldquot.header
/po/en@quot.header
/po/insert-header.sin
/po/quot.sed
/po/remove-potcdate.sin
/po/stamp-it
/po/*.pot
/so_locations
/src/.deps/
/src/Makefile
/src/Makefile.in
/src/*.o
/src/mokutil
/src/*.swp
/stamp-h1
/tags
